<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>



    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
<!--        <service-->
<!--            android:name=".service.FaceRecognitionService"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"></service>-->

        <!--Main-->

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!--Login-->

        <activity
            android:name=".activity.RegistroExitosoAntesalaActivity"
            android:label="Registro Exitoso Antesala" />

        <activity android:name=".activity.CameraIngresoEgresoActivity" android:label="Escanea" />
        <activity android:name=".activity.CameraxAddFaceActivity" android:label="CameraxAddFaceActivity" />
        <activity android:name=".activity.AnteEscaneaActivity" android:label="AnteEscanea" />
        <activity android:name=".activity.AnteEscaneaDniActivity" android:label="AnteEscaneaDni" />
        <activity android:name=".activity.FormularioOfflineActivity" android:label="FormularioOffline" />
        <activity android:name=".activity.RegistroDenegadoActivity" android:label="RegistroDenegado" />
        <activity android:name=".activity.CameraLoginActivity" android:label="CameraLoginActivity" />

        <!--Pantallas de inicio-->
        <activity android:name=".activity.InicioSeguridadActivity" android:label="InicioSeguridadActivity" />
        <activity android:name=".activity.CameraxOfllineActivity" android:label="CameraxOfllineActivity" />
        <activity android:name=".activity.CameraxLoginActivity" android:label="CameraxLoginActivity" />
        <activity android:name=".activity.CameraxAuthenticationActivity" android:label="CameraxAuthenticationActivity" />
        <activity android:name=".activity.PerfilUsuarioActivity" android:label="PerfilUsuarioActivity" />

        <activity android:name=".activity.InicioRrHhActivity" android:label="InicioRrHhActivity" />
        <!--Reportes-->
        <activity android:name=".activity.ReportesSeguridadActivity" android:label="ReportesSeguridad" android:exported="true">

        </activity>



        <activity android:name=".activity.Denegado" android:label="Denegado" />
        <!--ABM-->
        <activity android:name=".activity.ModificacionTextoActivity" android:label="ModificacionUsuario" android:exported="true"/>


        <activity android:name=".activity.RegistroUsuarioActivity" android:label="RegistroUsuarioActivity" android:exported="true">

        </activity>


        <activity android:name=".activity.ModificacionRolActivity" android:label="ModificacionRolActivity" android:exported="true">

        </activity>
        <activity android:name=".activity.CamaraParaRegistroRrHhActivity" android:label="CamaraParaRegistroRrHhActivity" />
        <activity android:name=".activity.ModificacionHoraActivity" android:label="ModificacionHoraActivityActivity" android:exported="true">
        </activity>


        <activity android:name=".activity.RegistroExitoso2Activity" android:label="RegistroExitoso2Activity" />
        <activity android:name=".activity.RegistroDenegado2Activity" android:label="RegistroDenegado2Activity" />


        <activity android:name=".activity.ModificacionUsuarioActivity" android:label="ModificacionUsuarioActivity" android:exported="true">
        </activity>

        <activity android:name=".activity.IngresoDenegadoActivity" android:label="InicioDenegadoActivity" />


        <!-- Configuracion RRHH -->
        <activity android:name=".activity.ConfiguracionRRHHActivity" android:label="ConfiguracionRRHHActivity" android:exported="true">

        <!-- LICENCIAS -->
        </activity>
        <activity android:name=".activity.EmpleadosLicenciasActivity" android:label="DocentesLicenciasActivity" android:exported="true">

        </activity>
        <activity android:name=".activity.LicenciasEmpleadoActivity" android:label="LicenciasDocenteActivity" android:exported="true">

        </activity>
        <activity android:name=".activity.CargarLicenciaActivity" android:label="CargarLicenciaActivity"  android:exported="true">

        </activity>

        <!-- Declara tu servicio dentro de la sección <application> -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activity.IngresoEgresoExitosoActivity"
            android:label="RegistroExitoso" />

        <activity
            android:name=".activity.CameraxActivity"
            android:label="CameraX" /> <!-- Declara tu servicio dentro de la sección <application> -->

        <activity android:name=".activity.QRScannerActivity" android:label="QRScanner"/>

        <service
            android:name=".utils.NetworkChangeService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".utils.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
